<% include ./header_game.ejs %>
<body>
  <% include ./nav.ejs %>
  <div class="container" style="margin-top:5rem;margin-bottom:5rem;">
    <div class="row"  align="center">
      <div class="col-md-12" align="center" >
        <table class="table text-center"  style="width: 740px;">
          <thead class="thead-light">
          <tr>
            <% if (usrInfo.races == 'dog') {%>
              <th id='ThanosHead'>Total Thanos Score</th>
              <th>&nbsp;&nbsp;&nbsp;</th>
              <th id='AvengersHead'>Total Avengers Score</th>
            <%} else {%>
              <th id='AvengersHead'>Total Avengers Score</th>
              <th>&nbsp;&nbsp;&nbsp;</th>
              <th id='ThanosHead'>Total Thanos Score</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <tr align="center">
            <% if (usrInfo.races == 'dog') {%>
              <td id="ThanosScore"><%=racesInfo.thanos%></td>
              <th>&nbsp;&nbsp;&nbsp;</th>
              <td id="AvengersScore"><%=racesInfo.avengers%></td>
            <%} else {%>
              <td id="AvengersScore"><%=racesInfo.avengers%></td>
              <th>&nbsp;&nbsp;&nbsp;</th>
              <td id="ThanosScore"><%=racesInfo.thanos%></td>
            <% } %>
          </tr>
          </tbody>
        </table>
        <br><br>
        <table class="table text-center" style="width: 360px;">
          <thead>
            <tr>
              <% if (usrInfo.races == 'dog') {%>
                <th id="ThanosScoreCur">0</th>
                <th> : </th>
                <th id="AvengersScoreCur">0</th>
              <%} else {%>
                <th id="AvengersScoreCur">0</th>
                <th> : </th>
                <th id="ThanosScoreCur">0</th>
              <% } %>

            </tr>
          </thead>
        </table>
      </div>
      <div class="col-md-12" style="width: 740px; height: 460px">
          <% include ./unitygame.ejs %>
      </div>
      <div class="col-md-12 text-center">
          <% include ./interface.ejs %> 
      </div>
      <br><br>
      <div class="col-md-12" >
        <table class="table text-center" style="width: 360px;">
          <thead class="thead-light">
            <tr>
              <th>Win</th>
              <th>Tie</th>
              <th>Lose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="win"><%=usrInfo.win%></td>
              <td id="tie"><%=usrInfo.tie%></td>
              <td id="lose"><%=usrInfo.lose%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% include ./footer.ejs %>
  <script>
  var socket = io();
  socket.on("updateTotScore2", function(data) {
    var AvengersScore = data.AvengersScore;
    var ThanosScore = data.ThanosScore;
    var avenScore_tot = document.getElementById('AvengersScore').innerHTML;
    var thanScore_tot = document.getElementById('ThanosScore').innerHTML;
    document.getElementById('AvengersScore').innerHTML = parseInt(avenScore_tot)+parseInt(AvengersScore);
    document.getElementById('ThanosScore').innerHTML = parseInt(thanScore_tot)+parseInt(ThanosScore);

    //var catScore_cur = document.getElementById('catScoreCur').innerHTML;
    //var dogScore_cur = document.getElementById('dogScoreCur').innerHTML;
    //document.getElementById('catScoreCur').innerHTML = parseInt(catScore_cur)+parseInt(catScore);
    //document.getElementById('dogScoreCur').innerHTML = parseInt(dogScore_cur)+parseInt(dogScore);
  });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
